<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publish>
        <processor patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" type="ADSG.Feature.StructuredData.Pipelines.IndexPublishedContentProcessor, ADSG.Feature.StructuredData" resolve="true" />
      </publish>
    </pipelines>
    <events>
      <event name="item:deleting">
        <handler type="ADSG.Feature.StructuredData.Events.RemoveIndexedLinksHandler, ADSG.Feature.StructuredData" method="OnItemDeleting" resolve="true" />
      </event>
    </events>
  </sitecore>
</configuration>